* {
  font-family: Monospace;
  box-sizing: border-box;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.leftSide {
  border: 2px;
  border-style: dashed;
  /* background-color: bisque; */
  flex-grow: 1;
  flex-basis: 20vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftSide > img {
  border-radius: 50%;
  width: 50%;
  height: auto;
}
.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.socials > a {
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  text-decoration: none;
  height: auto;
  width: auto;
  color: white;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 70%;
}
.modal-content * {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.orLine {
  margin: auto;
  display: block;
}
a:visited {
  color: white;
}
.mainContent {
  border: 2px;
  border-style: dashed;
  background-color: rgb(192, 156, 112);
  flex-grow: 13;
}
.rightSide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  border: 2px;
  border-style: dashed;
  background-color: bisque;
  /* text-align: justify; */
  flex-grow: 1;
  flex-basis: 20vw;
  /* align-items: center; */
}
.rightSide > ul {
  /* padding-right: 20px; */
  display: flex;
  flex-direction: row;
  max-width: 300px;
}
.flexContainerFooter {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  border-top-style: dotted;
}
.flexContainerArticle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexContainerArticle > p {
  align-self: center;
  text-align: justify;
  margin-top: 0px;
  max-width: 50vw;
  margin-left: 5%;
  margin-right: 3%;
}

/* ContactButton CSS Start */
.contactButton {
  border-radius: 10px;
  background-color: #3b190f;
  box-shadow: 0 3px #dbd8d8;
  width: 50%;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 2px;
  width: 80%px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 2px;
}
.contactSubmitButton {
  width: 100%;
  color: #fbfbfb;
  background-color: rgb(99, 122, 122);
}

.contactButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.contactButton:active {
  background-color: #3b190f;
  box-shadow: 0 1px #c4c3c3;
  transform: translateY(4px);
}

.contactButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.contactButton:hover span {
  padding-right: 25px;
}

.contactButton:hover span:after {
  opacity: 1;
  right: 0;
}
/* ContactButton CSS Ends */

.successEmailAlert {
  display: none; /*display: none;*/
  position: sticky;
  bottom: 0;
  background-color: rgb(98, 206, 98);
  border-radius: 5px;
  font-size: large;
  opacity: 0; /* opacity: 0;*/
  transition: opacity 2s;
}
.successEmailAlert > p {
  text-align: center;
  padding: 10px;
}
.errorEmailAlert {
  display: none;
  position: sticky;
  bottom: 0;
  background-color: rgb(221, 86, 86);
  border-radius: 5px;
  font-size: large;
  opacity: 0;
  transition: opacity 2s;
}
.errorEmailAlert > p {
  text-align: center;
  font-size: large;
  text-align: center;
  padding: 10px;
}
.currentPercent {
  background-color: #000000;
  color: #fbfbfb;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  height: 3vh;
}
.currentPercent > p {
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 3.7vh;
}
.innerCurrentPercentage {
  background-color: rgb(218, 176, 209);
  border-radius: 5px;
  height: 3vh;
}
.techLogos > * {
  width: 3vw;
}
.toBelarger > * {
  width: 7vw;
}

@media (max-width: 700px) {
  .leftSide,
  .rightSide,
  .mainContent {
    flex: 100%;
  }
  .flexContainerArticle > p {
    max-width: 100vw;
  }
}
