header {
  border-style: dashed;
  border-radius: 5px;
  margin: 50px;
  padding: 10px;
  background-color: rgb(145, 164, 181);
  /* float: right; */
}
p {
  border-style: dashed;
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: blanchedalmond;
}
.internalDivs {
  /* border-style: double; */
  /* border-radius: 5px; */
  /* margin: 20px 50px; */
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: rgb(189, 221, 210); */
  /* display: inline; */
}
footer {
  border-style: dashed;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
}
#test1 {
  background-color: rgb(178, 140, 213);
  /* visibility: hidden; */
  /* width: 500px; */
  /* display: inline; */
}
#test2 {
  background-color: rgb(178, 140, 213);
  /* visibility: hidden; */
  max-width: 500px;
  /* display: inline; */
}
#testDiv1 {
  padding: 20px;
  /* display: inline; */
}
#testDiv2 {
  padding: 20px;
  /* display: inline; */
}
.flex-container {
  /* border-style: double; */
  /* border-radius: 5px; */
  /* margin: 20px 50px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* background-color: rgb(60, 109, 92); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: flex-end; */
  /* height: 500px; */
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.myptag {
  /* float: right; */
}

.internalDivs {
  height: fit-content;
}
.topDiv {
  padding: 30px;
  margin: 50px;
  height: 100px;
  width: 20%;
  opacity: 0.5;
  background-color: rgb(115, 160, 160);
  transition: height, 0.3s;
  /* flex-grow: 10%; */
}
.topDiv:hover {
  display: flex;
  opacity: 1;
  height: 150px;
  width: 80%;
}
.toDivp {
  /* padding: inherit; */
  /* margin: inherit; */
  text-align: center;
  vertical-align: baseline;
  height: 100%;
  width: 100%;
  opacity: inherit;
  background-color: rgb(183, 194, 156);
  /* transition: height, 0.3s; */
}
